# This file is needed to tell GitHub that every file in this repo should have
# CRLF line endings. Otherwise, the files cannot be edited in Notepad when you
# download the repo using GitHub's web interface.

* text=auto eol=crlf

*.sfx binary
*.ico binary
*.png binary

*.bat text eol=crlf
*.cmd text eol=crlf
*.txt text eol=crlf
*.inf text eol=crlf
*.ini text eol=crlf
*.md text eol=crlf
*.reg text eol=crlf

*.sh text eol=lf
